add org.apache.hadoop.chukwa.datacollection.adaptor.HiTune.ExecAdaptor HiTune.Iostat @TODO_HADOOP_CLUSTER_IOSTAT@ -x -k -d 5 | awk '{now=strftime("%s ");if($0 && !/Linux/) print now $0}' 0
add org.apache.hadoop.chukwa.datacollection.adaptor.HiTune.ExecAdaptor HiTune.Memstat @TODO_HADOOP_CLUSTER_SAR@ -rSB 5 |awk '{if($0 && !/Linux/){if($0){$1="";$2="";if(/pgpgin/)now=strftime("%s ");if(NR>3 && NR%9==3){print now header"\n" now val;header=""; val=""};if(NR%3==0) {header=header" "$0;}; if(NR%3==1) val=val" "$0; }}}' 0
add org.apache.hadoop.chukwa.datacollection.adaptor.HiTune.ExecAdaptor HiTune.Cpustat @TODO_HADOOP_CLUSTER_SAR@ -u 5 |awk '{if($0 && !/Linux/) {$1=""; $2=""; now=strftime("%s "); print now $0}}' 0
add org.apache.hadoop.chukwa.datacollection.adaptor.HiTune.ExecAdaptor HiTune.Netstat @TODO_HADOOP_CLUSTER_SAR@ -n DEV 5 | awk '{if($0 &&!/Linux/){$1=""; $2=""; now=strftime("%s "); print now $0}}' 0
add org.apache.hadoop.chukwa.datacollection.adaptor.HiTune.ExecAdaptor HiTune.Mpstat @TODO_HADOOP_CLUSTER_MPSTAT@ -P ALL 5 | awk '{if($0 &&!/Linux/){$1=""; $2=""; now=strftime("%s "); if($0)print now $0}}' 0
add org.apache.hadoop.chukwa.datacollection.adaptor.DirTailingAdaptor HiTune.Instrument @TODO_CHUKWA_HOME@/hitune_output *.log org.apache.hadoop.chukwa.datacollection.adaptor.filetailer.CharFileTailingAdaptorUTF8NewLineEscaped 0
add org.apache.hadoop.chukwa.datacollection.adaptor.DirTailingAdaptor HiTune.JobHistoryLog @TODO_HADOOP_CLUSTER_HADOOP_JOB_HISTORY_LOG@ *_*_job_*_*_*_* org.apache.hadoop.chukwa.datacollection.adaptor.filetailer.CharFileTailingAdaptorUTF8NewLineEscaped 0
